!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Backbone server experiment
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")

    link(href="/css/bootstrap.min.css", rel="stylesheet")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    link(rel="shortcut icon", href="/favicon.ico")
    block head

  body
    block body

    script
      var App = !{ JSON.stringify(app_data) }
